{% extends 'block/base.html' %}

{% block sub_heading %}
  Dashboard
{% endblock sub_heading %}

{% block sub_title %}
  Dashboard
{% endblock sub_title %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'block/_dash_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
